<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
        <ion-col size="3">
          <ion-button onclick="exibir(7)" color="danger">%</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="danger">,</ion-button>
        </ion-col>

       <ion-col size="3">
          <ion-button onclick="exibir(9)" color="danger">Apagar</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="danger">/</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
        <ion-col size="3">
          <ion-button onclick="exibir(7)" color="medium">7</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="medium">8</ion-button>
        </ion-col>

       <ion-col size="3">
          <ion-button onclick="exibir(9)" color="medium">9</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="danger">*</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
      
  <ion-grid>
    <ion-row>
        <ion-col size="3">
          <ion-button onclick="exibir(7)" color="medium">4</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="medium">5</ion-button>
        </ion-col>

       <ion-col size="3">
          <ion-button onclick="exibir(9)" color="medium">6</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="danger">-</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col size="3">
          <ion-button onclick="exibir(7)" color="medium">1</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="medium">2</ion-button>
        </ion-col>

       <ion-col size="3">
          <ion-button onclick="exibir(9)" color="medium">3</ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button onclick="exibir(8)" color="danger">+</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
        <ion-col size="6">
          <ion-button onclick="exibir(7)" color="medium">0</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button onclick="exibir(8)" color="danger">=</ion-button>
        </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
